@import 'mt.css';
@import 'ml.css';
@import 'mr.css';
@import 'w.css';
@import 'h.css';
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
:root {
    --border-radius: 5vh;
}

.kiev-trip-bg {
    background-color: #FFFFFF;
    border: 5px solid #F3F3F3;
}

.phone {
    height: 75vh;
    width: 20vw;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phone span {
    font-family: 'Langar', cursive;
}

.phone-border {
    height: 100%;
    width: 97%;
    border-radius: 4vh;
    border: 5px solid #8a8686;
}

.phone-border>header {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    height: 5%;
}

.border-bottom {
    border-bottom: 1px solid #F3F3F3;
}

.phone-border>main>footer {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.gray-circle-5 {
    background-color: #F3F3F3;
    border-radius: 5px;
    width: 10px;
    height: 10px;
}

.outer-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F3F3F3;
}

.inner-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.bg-green {
    background-color: #32612D;
}

.bg-green-lime {
    background-color: #AEf359;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-white-smoke {
    background-color: #F3F3F3;
}

.bg-light-orange {
    background-color: #ECE5DD;
}

.text-white {
    color: #FFFFFF;
}