.mt-5 {
    margin-top: 5%;
}

.mt-10 {
    margin-top: 10%;
}

.mt-15 {
    margin-top: 15%;
}

.mt-20 {
    margin-top: 20%;
}

.mt-25 {
    margin-top: 25%;
}

.mt-30 {
    margin-top: 30%;
}

.mt-35 {
    margin-top: 35%;
}

.mt-40 {
    margin-top: 40%;
}

.mt-45 {
    margin-top: 45%;
}

.mt-50 {
    margin-top: 50%;
}